:root {
  --dark: #2a2a2a;
  --light: #fafafa;
  --gray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: sans-serif;
}

h1 {
  color: var(--dark);
}

header {
  background: var(--gray);

  padding: 1.4rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: var(--light);

  padding: 0.3rem;
}

.container {
  margin: auto;
  width: min(90vw, 800px);
}

footer {
  background: var(--gray);
  color: var(--light);

  padding: 1rem 0.5rem;
  text-align: center;
}