:root {
  --light: #fafafa;
  --white: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: 'JetBrains Mono', monospace;
}

#container {
  display: flex;
  justify-content: center;
}

#profile-box {
  background-color: var(--light);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  
  border-radius: 24px;
  margin-top: 2rem;
  width: 18rem;
}

#profile {
  padding: 2rem;
  flex-direction: column;
  
  align-items: center;
  display: flex;
  justify-content: center;
}

#profile > img {
  border-radius: 100%;
}

#profile > strong {
  margin-top: 0.75rem;
}

.data > span,
.data > strong {
  display: block;
  margin: 0.75rem 0.25rem;
}

#info {
  margin-top: 1rem;
  flex-direction: column;
  
  display: flex;
  align-items: left;
}